params {
    outdir                  = 'results'

    general.wf_opts         = '-resume -ansi-log false'

    taxprofiler.input       = null
    taxprofiler.params_file = null
    taxprofiler.wf_opts     = '-profile test,singularity'
    taxprofiler.add_config  = null

    metaval.input               = null
    metaval.params_file         = null
    metaval.wf_opts             = '-profile test,singularity'
    metaval.add_config          = null

}

resume = true

process {
    errorStrategy = 'finish' // Important, otherwise concurrent running of workflows may kill the other on error leaving a lock file present
    withName: 'NFCORE_TAXPROFILER' {
        publishDir = "$params.outdir/taxprofiler"
    }
    withName: 'GENOMICMEDICINESWEDEN_METAVAL' {
        publishDir = "$params.outdir/metaval"
    }
}
